body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #ffffff;
}
header {
	height: 100px;
	border-bottom: 3px solid lightgray;
}
header div {
	background-color:#4aaaaf;
	height:100px;
	position: absolute;
	left:100px;
}
main {
	background: url(../images/backgroundImage-topography.png) repeat;
	height: 100%;
	overflow: hidden;
}
article {
	background-color: #ffffff;
	width: 40%;
	margin: 40px 40px 40px 100px;
	display: inline-block;
	border: 1px solid #e1e1e1;
	float:left;
	padding: 10px 20px 20px 20px;
}
aside {
	margin: 40px;
	border: 1px solid #e1e1e1;
	display:inline-block;
	float:left;
	background-color:#ffffff;
	padding: 10px 20px 20px 20px;
}
footer {
	background-color: #666666;
	height: 100px;
	border-top: 5px solid #4aaaaf;
	position: relative;
	bottom: 0;
}
h1, h2, h3 {
	font-family:'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaaf;
	font-weight: bold;
	font-size: 25px;
}
header h1 {
	color:#ffffff;
	display: inline;
	text-align: center;
	position: relative;
	top:30px;
	padding: 0 30px;
}
nav li, aside li {
	display: inline;
}
nav {
	position: absolute;
	right: 150px;
	top: 75px;
}
nav a {
	text-decoration: none;
	color: #777777;
}
nav li {
	border-right: 1px solid lightgray;
	padding: 0 10px;
}
nav li:last-child {
	border-right: none;
}
aside img {
	height: 40px;
	width: 40px;
}
aside a {
	text-decoration: none;
}
aside ul {
	text-align: center;
}
.clearfix::after {
	content:'';
	display:block;
	clear: both;
}
aside h3 {
	border-bottom: 2px solid #e1e1e1;
	margin: 5px 10px 10px 10px;
    padding: 10px 0;
    font-size: 20px;
}
main h2 {
	border-bottom: 3px solid #e1e1e1;
	margin: 5px 10px 10px 10px;
    padding: 10px 0;
}
article p {
	margin: 0 10px 10px 10px;
}
article figure {
	margin: 0 10px 0 10px;
	float: left;
}
.stackoverflow {
	height: 37px;
    width: 37px;
    border: 1px solid #ffffff;
}